proj.ios_mac/
proj.win10/
proj.win32/Debug.win32
proj.win8.1-universal/

bin/
cocos2d/
lib/

proj.android/
!proj.android/jni/Android.mk
!proj.android/jni/Application.mk

Resources/scene/*/src

*.user
*.sdf
*.autosave

